{% extends 'base.html' %} 

{% load static %} 

{% block css %} 
  <link rel="stylesheet" href="{% static 'home.css' %}"/>
{% endblock %} 

{% block js %} 
 <script src="{% static 'search.js' %}">

 </script>
{% endblock %} 

{% block content %} 

    <section class="logo-background">
        
    </section>
    <section class="section-container">
            <section>
                <h4> Your gateway to knowledge!</h4>
            </section>

            <section class="search">
                <input type="search"/>
                <input type="button" onclick="search_book();" value="search"/>
            </section>
            
            <h5 id="result">Personally Recommended</h5>
          
            <hr>
            <section class="grid-books">
                {% for book in books %}
                  <div class="grid-cover">
                      <a href="{% url 'bookstore:book-detail' book.slug %}">
                        <img src="{{book.cover.url}}" width="100%" />
                      </a>
                  </div>
                {% endfor %}
            </section>
    </section>
{% endblock %}